PerlSetVar AuthFile .htpasswd
AuthName "Acces Statistiques"
AuthType Basic
<limit GET POST>
  require valid-user
</limit>
AddType video/ogg  .ogv
AddType video/mp4  .mp4
AddType video/webm .webm
AddType video/m4v .m4v
